<div class="nav">
  <ul>
    <li class="brand">Sysiphus</li>
    <li class="link">Created by <a href="http://www.jgefroh.com" style="color: inherit;">Joseph Gefroh</a></li>
  </ul>
</div>
<div class="content">
  <section class="group" data-ng-repeat="group in vm.groups">
    <span class="title">
      <a data-ng-bind="group.name" data-ng-href="{{group.liveUrl}}" style="text-decoration: none;"></a>
      <a data-ng-if="group.sourceUrl" data-ng-href="{{group.sourceUrl}}"><span class="fa fa-fw fa-lg fa-github"></span></a>
    </span>
    <a class="detail subtle"
       style="font-size: 0.8rem; float: right; cursor: pointer; text-decoration: none;"
       data-ng-click="vm.syncGroup(group);">{{group.lastUpdated | date:'\'Last updated\' h:mm a'}}</a>

    <section class="servers">
      <div class="server" data-ng-repeat="server in group.servers">
        <div class="row">
          <div class="half-section">
            <div data-server="server"></div>
          </div>
          <div class="half-section">
            <div data-measurements="server.measurements"></div>
          </div>
        </div>
        <hr data-ng-if="!$last">
      </div>
    </div>
  </section>
</div>
