
@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'base/breakpoints';
@import 'base/variables';
@import 'base/base';
@import 'base/layout';

$color-nav-bg: #222222;
$color-nav-link: #75757D;
$color-nav-link-hover: #F6F6F6;
$color-border: #E7E7E7;
body, html {
  margin: 0;
}

.nav {
  width: 100%;
  position: fixed;
  background-color: $color-nav-bg;
  color: $color-nav-link;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 0.5rem 1rem;
      &.brand {
        float: left;
      }
      &.link {
        float: right;
        cursor: pointer;

        &:hover {
          color: $color-nav-link-hover;
        }
      }
    }
  }
}
.detail {
  font-size: 0.8rem;
}

.group {
}

.servers {
  @include row();
  border-radius: 5px;
  border: 1px solid $color-border;
  padding: 1rem;
  margin-bottom: 3rem;
  > .title {
    font-size: 1.5rem;
  }
}

.server {
  .icon {
    vertical-align: top;
  }
}

.content {
  padding-top: 5rem;
}
