$color-blue-flat-dark: #34495E;
$color-blue-flat-light: #3498DB;
$color-blue-flat-dark: #2980B9;
$color-blue-flat-white: #E0ECE8;
$color-white-flat-light: #ECF0F1;
$color-white-flat-dark: #BDC3C7;
$color-green-flat-dark: #27AE60;
$color-green-flat-light: #2ECC71;
$color-yellow-flat-light: #F1C40F;
$color-yellow-flat-dark: #F39C12;
$color-orange-flat-light: #E67E22;
$color-orange-flat-dark: #D35400;
$color-red-flat-light: #E74C3C;
$color-purple-flat-light: #8E44AD;


$color-white: #FFFFFF;
$color-black: #000000;

$color-logo-light-blue: #7F9CBF;
$color-logo-dark-blue: #4E6D93;
$color-logo-dark-grey: #787878;
$color-logo-light-grey: #C4C4C4;


$color-dark-green: #1C2E12;
$color-medium-green: #3B7C18;
$color-light-green: #77A161;
$color-vibrant-green: #009120;

$color-dark-blue: #014081;
$color-medium-blue: #477DCA;
$color-light-blue: #70B7FF;
$color-vibrant-blue: #007EFF;
$color-really-light-blue: #DCEDFF;

$color-dark-purple: #21279c;
$color-medium-purple: #5873c6;

$color-dark-red: #790B02;
$color-medium-red: #B31003;
$color-light-red: #DF4C40;
$color-vibrant-red: #EA1E0C;

$color-dark-orange: #7D3E10;
$color-medium-orange: #D56512;
$color-light-orange: #CD7A3C;
$color-vibrant-orange: #FC7C1D;
$color-light-yellow: #f4eba9;


$color-ultra-light-grey: #F5F5F5;
$color-light-grey: #DDDDDD;
$color-medium-grey: #777777;
$color-dark-grey: #555555;
$color-grey: $color-medium-grey;

$background-color:  #E5DCDA;
$link-color-unvisited: $color-black;
$link-color-visited: $color-black;
$subtle: $color-medium-grey;

$font: 'Roboto', sans-serif;
$font-weight: 100;
